<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bougioklis.smartbuoy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".Classes.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapsActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".RTSPActivity" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity android:name=".MenuOptions.SettingsActivity" />
        <activity android:name=".MenuOptions.AboutUsActivity" />
        <activity android:name=".MenuOptions.TutorialActivity" />

        <service
            android:name=".Service.DownloadService"
            android:enabled="true"
            android:stopWithTask="true" />

        <activity android:name=".NavigationMapsActivity"></activity>
    </application>

</manifest>